Hello world. A custom component says
<p>display custom component</p>
<app-hello></app-hello>

<p>interpolation and expression</p>
<input type="text" value="{{myvariable}}" />

<p>two way binding</p>
<input type="text" [value]="myvariable" (input)="updatevalue($event)"/>
<p>ngmodel</p>
<input type="text" [ngModel]="myvariable">

<p>button click</p>
<button (click)="callmyfuntion()">Hey There</button>

<p>inbuilt pipe</p>
Hello world {{ amount | currency: 'INR'}}
<p> custom pipe </p>
{{ myvariable | reversepipe}}
<router-outlet></router-outlet>


